this is a test of <b>EJS</b>
<hr/>
<p>there are <%=nouns.length%> nouns</p> 
<img src="images/<%=landscapePhotos[0]%>" alt="">
<p>There are <%=landscapePhotos.length%> photos.</p>
<img src="images/<%=landscapePhotos[1]%>"/>